.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  background-color: black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
}
.grid-container div {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 50px;
}
